@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #141414;
    --text-primary: #f5f5f5;
    --text-secondary: #bfbfbf;
    --text-tertiary: #c39ee8;
    --primary-200: #c39ee8;
    --primary-400: #9657d6;
    --primary-600: #7129ba;
    --primary-900: #341356;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: white;
    color: black;
  }
}

:root[CurrentTheme="dark"] {
  --background-primary: #141414;
  --text-primary: #f5f5f5;
  --text-secondary: #bfbfbf;
  --text-tertiary: #c39ee8;
  --primary-200: #c39ee8;
  --primary-400: #9657d6;
  --primary-600: #7129ba;
  --primary-900: #341356;
}

:root[CurrentTheme="light"] {
  background-color: white;
  color: black;
}
