@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    color: wheat;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: white;
    color: black;
  }
}

:root[CurrentTheme="dark"] {
  background-color: black;
  color: wheat;
}

:root[CurrentTheme="light"] {
  background-color: white;
  color: black;
}
