.blob {
  animation: blob1 2s infinite;
}

@keyframes blob1 {
  0% {
    d: path(
      "M201.349 0.747984C238.114 3.59568 271.795 18.9534 302.74 38.9569C333.587 58.8977 362.689 82.5283 378.822 115.472C395.186 148.889 401.791 187.622 393.27 223.828C385.074 258.651 354.393 281.374 333.015 310.094C309.56 341.605 297.575 385.004 261.549 400.785C224.666 416.942 179.856 410.239 143.395 393.157C109.143 377.11 92.2891 340.426 69.0813 310.614C47.2462 282.565 21.5852 257.566 11.3627 223.55C0.0788197 186.003 -5.86417 144.941 8.30468 108.38C22.8116 70.9456 54.1818 42.0083 89.3054 22.4251C123.199 3.52762 162.635 -2.25065 201.349 0.747984Z"
    );
  }
  33% {
    d: path(
      "M165.465 4.92849C199.857 6.93319 234.371 5.85283 262.759 25.3615C297.655 49.3419 331.155 80.6468 336.709 122.608C342.819 168.777 327.108 218.408 292.424 249.506C258.962 279.509 210.216 280.401 165.465 276.146C125.567 272.351 89.9362 254.713 60.5664 227.456C29.8107 198.913 0.896208 164.548 0.0253547 122.608C-0.858288 80.0528 21.4237 37.9966 56.1199 13.3166C87.0817 -8.70699 127.527 2.71714 165.465 4.92849Z"
    );
  }
  66% {
    d: path(
      "M226.549 0.056767C264.545 1.9918 277.246 53.7221 306.556 77.8871C331.14 98.1557 366.505 103.756 384.318 130.132C403.481 158.508 415.03 194.437 407.85 227.88C400.795 260.741 371.109 282.446 346.65 305.586C324.366 326.669 298.288 340.38 272.066 356.344C235.763 378.447 202.791 432.49 163.045 417.37C121.893 401.715 145.392 330.034 116.295 297.086C86.8056 263.694 12.153 277.313 1.26611 234.18C-9.14649 192.925 47.2792 165.375 74.8532 132.896C95.042 109.115 117.625 90.0236 141.106 69.4611C169.278 44.7914 189.09 -1.85094 226.549 0.056767Z"
    );
  }
  100% {
    d: path(
      "M144.846 5.72796C174.391 1.53801 209.488 -7.82979 230.631 13.2471C251.782 34.3324 239.641 69.254 238.525 99.1133C237.478 127.131 241.441 156.502 224.443 178.786C205.409 203.739 176.176 223.402 144.846 221.922C114.332 220.479 95.7341 191.369 72.4283 171.6C45.3637 148.643 -1.98556 134.563 0.0644408 99.1133C2.12661 63.453 50.3558 53.9075 80.3532 34.5589C100.927 21.2884 120.612 9.16471 144.846 5.72796Z"
    );
  }
}
